@model DORIS.Models.usr_getUser_Result

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Edit @Html.Raw(Model.UserName) </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>

    

        <div class="form-group">
            @Html.LabelFor(model => model.SupplierCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupplierCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SupplierCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        
        @if (ViewBag.AdminLevel == 0)
        {
            <div class="form-group">
                <div class="control-label col-md-2">
                    <label for="UserType">Admin Level:</label>
                </div>
                <div class="col-md-10">

                    <select class="form-control" id="UserType">
                        @if (Model.AdminLevel == 2)
                        {
                            <option value="2" selected>User</option>
                        }
                        else
                        {
                            <option value="2">User</option>
                        }
                        @if (Model.AdminLevel == 1)
                        {
                            <option value="1" selected>Supplier Admin</option>
                        }
                        else
                        {
                            <option value="1">Supplier Admin</option>
                        }
                        @if (Model.AdminLevel == 0)
                        {
                            <option value="1" selected>GOD</option>
                        }
                        else
                        {
                            <option value="1">GOD</option>
                        }

                    </select>
                </div>
            </div>
        }
        @if (ViewBag.AdminLevel == 1)
        {
            <div class="form-group">
                <div class="control-label col-md-2">
                    <label for="UserType">Admin Level:</label>
                </div>
                <div class="col-md-10">

                    <select class="form-control" id="UserType">
                        @if (Model.AdminLevel == 2)
                        {
                            <option value="2" selected>User</option>
                        }
                        else
                        {
                            <option value="2">User</option>
                        }
                        @if (Model.AdminLevel == 1)
                        {
                            <option value="1" selected>Supplier Admin</option>
                        }
                        else
                        {
                            <option value="1">Supplier Admin</option>
                        }

                    </select>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<div class="alert alert-info">My Admin Level : @ViewBag.AdminLevel  User Admin Level  @Model.AdminLevel (@Model.AdminLevelName)</div>
